@import "normalize.css";

/*Version Desktop*/
* {
  
  box-sizing: border-box;

}

html {
 width: 100%;
}

body {
  font:bold 80% "Raleway", serif;
  
}

#page {
  max-width: 1400px;
  justify-content: center;
  margin: auto;
  
}


/*Header*/


#header__logo{
  margin-left: 30px;
}

#header__logo img {
  width: 140px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav li{
  padding-right: 50px;
}

.header__nav__links {
  text-decoration: none;
    color: black;
    padding: 25px 10px 0 10px;
}

.header__nav__links:hover {
  padding-top: 38px;
  border-top: 5px solid #0065fc;
}

/*fin du header*/

/*main*/

/*section main__recherche*/

main{
  justify-content: center;
}

#main__recherche {
  margin: 5px;
  padding: 30px;
  padding-left: 4px;
}



h1 {
  font-size: 20px;
}

#main__recherche__intro {
  display: flex;
  flex-direction: column;
 }

#main__recherche__intro p{
  justify-content:center;
}

#main__filter__title{
  align-self:center;
  font-size: large;
  margin-right: 15px;
  margin-bottom: 32px;
}

.infos__text{
  display: flex;
  margin-top: 37px;
}
/*infos*/

.infos {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: -20px;
}

.fa-info {
  background-color: white;
  color: #0065FC;
  font-size: 15px;
  border:#f2f2f2 solid 1px;
  border-radius: 40px;
  padding: 10px;
  margin: 30px;
}  





/*barre de recherche*/
#main__recherche .fa-location-dot {
  background-color: #f2f2f2;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 9px 0px 15px;
}

#main__recherche__form__barre_recherche {
  display: flex;
 

}

#main__recherche__form__barre_recherche input{
  height: 40px;
  border: 1px solid #F2F2F2;
  font-weight: bold;
  font-family: "Raleway";
  font-size: 16px;
  text-align: center;
}



.main__recherche__boutton {
  height: 40px;
  color: white;
  background-color: #0065fc;
  font-weight: bold;
  border: 1px solid #0065fc;
  border-radius: 0px 11px 10px 0;
  width: 100px;
}

.loupe {
    display: none;
}



/*Filtres de recherche*/

.main__filters{

  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

#filter__title {
  font-size: 20px;
  align-self: center;
  justify-content: flex-start;
  width: 100px;
  font-weight: bold;

}

#filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 0px;
  justify-content: flex-start;
}

/* logos*/

.fa-money-bill {
  background-color: #DEEBFF;
  border-radius: 50px 50px 50px 50px;
  color: #0065FC;
  font-size: 20px;
  padding: 16px;
  padding-left: 14px;
  padding-right: 15.5px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
  
}


.fa-child-reaching {
  background-color: #DEEBFF;
  border-radius: 50px 50px 50px 50px;
  color: #0065FC;
  font-size: 20px;
  padding: 15px;
  padding-left: 17px;
  padding-right: 19px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;

}

.fa-heart {
  background-color: #DEEBFF;
  font-size: 20px;
  border-radius: 50px 50px 50px 50px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 16px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
    
  color: #0065FC;
}

.fa-dog {
  background-color: #DEEBFF;
  color: #0065FC;
  font-size: 20px;
  border-radius: 50px 50px 50px 50px;
  padding: 15px;
  padding-left: 14px;
  padding-right: 15px;
  margin-right: 12px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
}

/* fin des icones*/
/*zone texte icones*/

.filter__effect {
  display: flex;
  width: 190px;
  height: 122px;
  
  
}
.filter__effect:hover {
  
}

.filter__effect i {
  margin-bottom: 50px;
}

.filter__effect__description {
  
  font-size: 15px;
  font-weight: bold;
  border: 3px solid #F2F2F2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  height: 56px;
  width: 200px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
  align-self: center;
  box-shadow: 10px 5px 5px #DEEBFF;

}

.filter__effect__description:hover{
  box-shadow: 10px 5px 5px black;
  background-color: #DEEBFF;
  opacity: 0.8;
}


/*fin section filtres de recherche*/


/*section Partie 1 hebergement Marseille */

#main__hebergements{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

#main__hebergements p, h3 {
  color: black;
}

h2 {
  margin-left: 25px;
  
}

#main__hebergements__block{
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 70%;
  
  margin-right: 30px;
}

#main__hebergements__block__cards {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.main__hebergements__block__cards__card{
  display: flex;
  background-color: white;
  width: 30%;
  height: 20%;
  margin: 10px 0px;
  padding: 5px 5px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
  transition: 1s;
  flex-direction: column;
}

.main__hebergements__block__cards__card a{
  text-decoration: none;
}

.main__hebergements__block__cards__card img{
  height: 130px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;

}

.main__hebergements__block__cards__card__description{
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 14px;
  
}

.main__hebergements__block__cards__card__description h3{

  font-weight: bold;
}

.main__hebergements__block__cards__card__description p {
  margin: 10px 0 10px 0;
}

.main__hebergements__block__cards__card__description .stars{
  color: #0065fc;
  font-size: 14px;
 
}

h3 {
  display: block;
  text-decoration: none;
  font-size: large ;
  font-weight: bolder;
}

.titre7, .titre8{
  text-decoration: none;
}

.fa-duotone {
  color: #e0e0e0;
}

/*les plus populaires*/

#main__hebergement__aside{
display: flex;
flex-direction: column;
align-items: center;
width: 30%;
background-color: #F2F2F2;
border-radius: 20px;
}

#main__hebergement__aside a{
  text-decoration: none;
}

.main__hebergement__aside__title
{
  display: flex;
  align-items: center;
  width: 87%;
  justify-content: space-between;

}

#title__star
{
  display: flex;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;

}
#title__star h2{
  margin-left: 0px;
}

#title__star .fa-star{
  margin-left: 60px;
  margin-top: 20px;
}

.main__hebergement__aside__card{
  display: flex;
  width: 90%;
  height: 170px;
  background-color: white;
  margin: 10px 0px;
  padding: 5px 5px;
  border-radius: 20px;
  transition: 1s;

}

.main__hebergement__aside__card a {
  display: flex;
}
.main__hebergement__aside__card img{
  width: 30%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.main__hebergement__aside__card__description{
  font-size: 14px;
  padding-left: 15px;
  margin: 3px;
}
.main__hebergement__aside__card__description h3 , p {
  margin: 0px 0px 30px 0px;
  padding: 1px;
}
.main__hebergement__aside__card__description .stars {
margin-top: 10px;
color: #0065fc;
}

/*Activité Marseille*/

#main__activites {
  width: 100%; 
}
 
#main__activites__block {
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  

}

#main__activites__block a {
  text-decoration: none;
}
#main__activites__block{
  text-decoration: none;

}

.main__activites__block__large_card{
  border-radius: 20px;
  height: 420px;
  width: 20%;
  transition: 1s;
  box-shadow: 0px 0px 13px #e2e2e2;
}

.main__activites__block__large_card img {
height: 372px;
object-fit: cover;
border-radius: 20px 20px 0 0px;
width: 100%;
}

.main__activites__block__large_card__description--port {
  margin-left: 85px;
}

.main__activites__block__large_card__description--calanques {
margin-left: 30px;
}

.main__activites__block__double {
  display: flex;
  justify-content: space-between;
  width: 24%;
  flex-direction: column;
}

.main__activites__block__double_card{
  box-shadow: 0px 0px 13px #e2e2e2;
  transition: 1s;
  border-radius: 20px;
  margin-bottom: 50px;
}

.main__activites__block__double_card img {
  object-fit: cover;
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
}

.main__activites__block__double_card__description--fort{
  margin-left: 69px;
}
.main__activites__block__double_card__description--iles{
  margin-left: 90px;
}
.main__activites__block__double_card__description--dame{
  margin-left: 40px;
}
.main__activites__block__double_card__description--parc{
  margin-left: 80px;
}

/*footer*/

footer {
  display: flex;
  bottom: 0;
  flex-direction: row;
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  
}

h4{
  margin-bottom: 25px;
}

footer ul {
  list-style: none;
  color: black;
  
}

footer li {
  margin-bottom: 30px;
}

footer a {
  text-decoration: none;
  color:black;
  font-weight: 100;
}

footer a:hover {
  flex-direction: column;
  text-decoration: none;
  color:black;
  text-decoration: underline;
  font-weight: 100;
}

.footer__column {
  margin: auto;
}

.plus {
  margin-left: 25px;
  font-size: large;
  text-decoration: none;
  
}

/* tous types d'écran de 992px min version tablette*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    margin: 0px;
    font-family: "Raleway", sans-serif;
  }
  
  #page{
    margin: 0;
    width: 100%;  
  }
  
  #header__logo img{
    width: 170px;
  }
  
  nav {
    flex-direction: column;
  }
  
  .header__nav__links{
    font-size: 18px;
    padding: 29px 10px 0 10px;
  }
  nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    
  }

  nav li {
    width: 50%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
  }

  nav a {
    text-decoration:none;
  }
  
   .header__nav__links {
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 32px;
  }

   .header__nav__links:hover {
    border-bottom: none;
    border-top: none;
  }

  nav img {
    display: flex;
    width: 150px;
    height: 120px;
    align-self: center;
  }

  
  li:hover {
    border-bottom: #0065fc 3px solid;
  }

  /*barre de recherche*/
  
  #main__recherche__intro{
    text-align: center;
  }
  
  form{
    display: flex;
    margin-left: 8px;
    justify-content: center;
    height: 50px;
  }
  
  #main__recherche__form__barre_recherche{
    justify-content: center;
    }

  .main__recherche__boutton{
    display: none;
  }

  .loupe{
    width: 45px;
    height: 40px;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0065fc;
    color: #DEEBFF;
    border: none;
    border-radius: 15px;
    position: relative;
    right: 10px;
  }

  /*filtres*/
  
  #filter__list{
    display: flex;
    width: auto;
    justify-content: center;
    display: flex;
  }

  #filter__title{
  margin-right: 1px;
  width: auto;
  justify-content: left;
  }
  
  .filter__effect{
    display: flex;
    
  }

  .infos{
    justify-content: center;
  }

 /*hebergement */
 #main__hebergements{
   display: flex;
   width: 100% ;
   flex-direction: column-reverse;
   justify-content: center;
   
 }
 #main__hebergements__block{
  width: 100%;
  
 }
 #main__hebergements__block h2{
margin-left:170px; 
}


 #main__hebergements__block__cards{
 height: 50%;
  
  }

  .main__hebergements__block__cards__card{
    width: 92%;
    
    
    
  }
 
  /* Les plus populaires */
 
  #main__hebergement__aside{
  
  width: 100%;
 }

 /*comment faire passer le aside 
 avant hebergemement ? column reverse dans 
 le  maine block hebergement*/

 /* Partie activités */

 #main__activites{
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 40px;
 
  }

#main__activites h2{
  margin: 0;
  padding: 15px 25px 15px 170px;
  text-align: center;

  }

 #main__activites__block{
   flex-direction: column;
   margin-top: 10px;
   
   
 }

 .main__activites__block__large_card{
   width: inherit;
   height: inherit;
   margin-bottom: 40px;
 }

 .main__activites__block__double{
  width: inherit;
  height: inherit;  
  
 }
 .main__activites__block__double img {
  align-content: space-between;
 }
 .main__activites__block__large_card {
  width: inherit;
  height: inherit;  
 }
 .main__activites__block__large_card img {
   width: 100%;
   height: 150px;
  }

  /* footer */

  footer{
    flex-direction: column;
    padding: inherit;
    justify-content: center;
    align-content: center;
    
  }
  
}

/* tous types d'écran de 768px max telephone*/
@media screen and (max-width: 767px) {
  body {
    margin: 0px;
    font-family: "Raleway", sans-serif;
  }
  
  #page{
    margin: 0;
    width: 100%;
    min-width: 305px;  
  }
  
  #header__logo img{
    width: 170px;
  }
  
  nav {
    flex-direction: column;
  }
  
  .header__nav__links{
    font-size: 18px;
    padding: 29px 10px 0 10px;
  }
  nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    
  }

  nav li {
    width: 50%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
  }

  nav a {
    text-decoration:none;
  }
  
  .nav__links {
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 32px;
  }

  .header__nav__links:hover  {
    border-bottom: none;
    border-top: none;
  }

  nav img {
    display: flex;
    width: 150px;
    height: 120px;
    align-self: center;
  }

  
  li:hover {
    border-bottom: #0065fc 3px solid;
  }

  /*barre de recherche*/
  
  #main__recherche__intro{
    text-align: center;
  }
  
  form{
    display: flex;
    margin-left: 8px;
    justify-content: center;
    height: 50px;
  }
  
  #main__recherche__form__barre_recherche{
    justify-content: center;
    }

  .main__recherche__boutton{
    display: none;
  }

  .loupe{
    width: 45px;
    height: 40px;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0065fc;
    color: #DEEBFF;
    border: none;
    border-radius: 15px;
    position: relative;
    right: 10px;
  }

  /*filtres*/
  
  #filter__list{
    display: flex;
    width: auto;
    justify-content: center;
    display: flex;
  }

  #filter__title{
  margin-right: 1px;
  width: auto;
  justify-content: left;
  }
  
  .filter__effect{
    display: flex;
    
  }

  .infos{
    justify-content: center;
  }

 /*hebergement */
 #main__hebergements{
   display: flex;
   width: 100% ;
   flex-direction: column-reverse;
   justify-content: center;
   
 }
 #main__hebergements__block{
  width: 100%;
  
 }
 #main__hebergements__block h2{
margin-left:170px; 
}


 #main__hebergements__block__cards{
 height: 50%;
  
  }

  .main__hebergements__block__cards__card{
    width: 92%;
    
    
    
  }
 
  /* Les plus populaires */
 
  #main__hebergement__aside{
  
  width: 100%;
 }

 /*comment faire passer le aside 
 avant hebergemement ? column reverse dans 
 le  maine block hebergement*/

 /* Partie activités */

 #main__activites{
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 40px;
 
  }

#main__activites h2{
  margin: 0;
  padding: 15px 25px 15px 170px;
  text-align: center;

  }

 #main__activites__block{
   flex-direction: column;
   margin-top: 10px;
   
   
 }

 .main__activites__block__large_card{
   width: inherit;
   height: inherit;
   margin-bottom: 40px;
 }

 .main__activites__block__double{
  width: inherit;
  height: inherit;  
  
 }
 .main__activites__block__double img {
  align-content: space-between;
 }
 .main__activites__block__large_card {
  width: inherit;
  height: inherit;  
 }
 .main__activites__block__large_card img {
   width: 100%;
   height: 150px;
  }

  /* footer */

  footer{
    flex-direction: column;
    padding: inherit;
    justify-content: center;
    align-content: center;
    
  }
}
  
  