@import "normalize.css";

/*Version Desktop*/
* {
  
  box-sizing: border-box;

}

html {
  display: block;

}

body {
  font:bold 80% "Raleway", serif;
  display: block;
}

#page {
  max-width: 1600px;
  margin: auto;
}


/*Header*/
header {
  display: block;
  margin: auto;
}

#header__logo{
  margin-left: 30px;
}

#header__logo img {
  height: 80px;
}

header {
  justify-content: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;
}

.nav__links {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  border-top: 2px solid transparent;
  color: black;
}

.nav__links:hover {
  padding-top: 40px;
  border-top: 3px solid #0065fc;
}

/*fin du header*/

/*main*/

/*section main__recherche*/

main{
  margin: 20px;
  
}

.main__recherche {
  margin: 5px;
  padding: 30px;
  padding-left: 4px;
}

h1 {
  font-size: 20px;
}

/*fin section*/

.form {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.form__locationdot {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

.form__boutton {
  background-color: #0065fc;
  color: #f2f2f2;
  font-weight: bold;
  border: none;
  height: 55px;
  padding: 16px 20px 16px 20px;
  border-radius: 0px 10px 10px 0px;
}

.form__boutton {
  color: #f2f2f2;
}

.mobile__boutton{
  display: none;
}


.form__barreDeRecherche {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 1rem 1.25rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
}

/*barre de recherche*/
.fa-location-dot {
  background-color: #f2f2f2;
}
/*Filtres de recherche*/

.category {
  
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

#filter__title {
  font-size: 20px;
  align-self: center;
  justify-content: flex-start;
  width: 100px;
  font-weight: bold;

}

#filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 0px;
  justify-content: flex-start;
}

/* logos*/

.fa-money-bill {
  background-color: #DEEBFF;
  border-radius: 50px 50px 50px 50px;
  color: #0065FC;
  font-size: 20px;
  padding: 16px;
  padding-left: 14px;
  padding-right: 15.5px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
  
}

.fa-child-reaching {
  background-color: #DEEBFF;
  border-radius: 50px 50px 50px 50px;
  color: #0065FC;
  font-size: 20px;
  padding: 15px;
  padding-left: 17px;
  padding-right: 19px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;

}

.fa-heart {
  background-color: #DEEBFF;
  font-size: 20px;
  border-radius: 50px 50px 50px 50px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 16px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
    
  color: #0065FC;
}

.fa-dog {
  background-color: #DEEBFF;
  color: #0065FC;
  font-size: 20px;
  border-radius: 50px 50px 50px 50px;
  padding: 15px;
  padding-left: 14px;
  padding-right: 15px;
  margin-right: 12px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
}

/* fin des icones*/
/*zone texte icones*/

.filter__effect {
  display: flex;
  flex-direction: row;
  justify-self: auto;
  margin-bottom: 0px;
}

.filter__effect i {
  margin-bottom: 50px;
}

.filter__effect__description {
  
  font-size: 15px;
  font-weight: bold;
  border: 3px solid #F2F2F2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  height: 56px;
  width: 200px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
  align-self: center;

}

/*fin zone filtres de recherche*/
/*infos*/

.infos {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  
  

}

.fa-info {

  background-color: white;
  color: #0065FC;
  font-size: 10px;
  border-radius: 50px 50px 50px 50px;
  padding: 15px;
  
}  

.infos__text{
  display: flex;
  
  

}

/*section Partie 1 hebergement Marseille */

#main__hebergements{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

#main__hebergements p, h3 {
  color: black;
}

h2 {
  margin-left: 25px;
  
}

#main__hebergements__block{
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 70%;
  height: 100%;
  margin-right: 30px;
}

#main__hebergements__block__cards {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.main__hebergements__block__cards__card{
  display: flex;
  background-color: white;
  width: 30%;
  height: 20%;
  margin: 10px 0px;
  padding: 5px 5px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
  transition: 1s;
  flex-direction: column;
}

.main__hebergements__block__cards__card a{
  text-decoration: none;
}

.main__hebergements__block__cards__card img{
  height: 130px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;

}

.main__hebergements__block__cards__card__description{
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 14px;
  
}

.main__hebergements__block__cards__card__description h3{

  font-weight: bold;
}

.main__hebergements__block__cards__card__description p {
  margin: 10px 0 10px 0;
}

.main__hebergements__block__cards__card__description .stars{
  color: #0065fc;
  font-size: 14px;
 
}

h3 {
  display: block;
  text-decoration: none;
  font-size: large ;
  font-weight: bolder;
}

.titre7, .titre8{
  text-decoration: none;
}

.fa-duotone {
  color: #e0e0e0;
}

/*les plus populaires*/

#main__hebergement__aside{
display: flex;
flex-direction: column;
align-items: center;
width: 30%;
background-color: #F2F2F2;
border-radius: 20px;
}

#main__hebergement__aside a{
  text-decoration: none;
}

.main__hebergement__aside__title{
  display: flex;
  align-items: center;
  width: 87%;
  justify-content: space-between;

}

#title__star{
  
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  justify-content: right;

}

.main__hebergement__aside__card{
  display: flex;
  width: 90%;
  height: 170px;
  background-color: white;
  margin: 10px 0px;
  padding: 5px 5px;
  border-radius: 20px;
  transition: 1s;

}

.main__hebergement__aside__card a {
  display: flex;
}
.main__hebergement__aside__card img{
  width: 30%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.main__hebergement__aside__card__description{
  font-size: 14px;
  padding-left: 15px;
  margin: 3px;
}
.main__hebergement__aside__card__description h3 , p {
  margin: 0px 0px 30px 0px;
  padding: 1px;
}
.main__hebergement__aside__card__description .stars {
margin-top: 10px;
color: #0065fc;
}

/*Activité Marseille*/

#main__activites {
  margin: 50px;
  
}
 
#main__activites__block {
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  

}

#main__activites__block a {
  text-decoration: none;
}
#main__activites__block{
  text-decoration: none;

}

.main__activites__block__large_card{
  border-radius: 20px;
  height: 420px;
  width: 20%;
  transition: 1s;
  box-shadow: 0px 0px 13px #e2e2e2;
}

.main__activites__block__large_card img {
height: 372px;
object-fit: cover;
border-radius: 20px 20px 0 0px;
width: 100%;
}

.main__activites__block__large_card__description--port {
  margin-left: 85px;
}

.main__activites__block__large_card__description--calanques {
margin-left: 30px;
}

.main__activites__block__double {
  display: flex;
  justify-content: space-between;
  width: 24%;
  flex-direction: column;
}

.main__activites__block__double_card{
  box-shadow: 0px 0px 13px #e2e2e2;
  height: 187px;
  width: 90%;
  transition: 1s;
  border-radius: 20px;
  margin-bottom: 50px;
}

.main__activites__block__double_card img {
  object-fit: cover;
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
}

.main__activites__block__double_card__description--fort{
  margin-left: 69px;
}
.main__activites__block__double_card__description--iles{
  margin-left: 90px;
}
.main__activites__block__double_card__description--dame{
  margin-left: 40px;
}
.main__activites__block__double_card__description--parc{
  margin-left: 80px;
}

/*footer*/

footer {
  display: flex;
  bottom: 0;
  flex-direction: row;
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  
}

footer ul {
  display: block;
  list-style: none;
  color: black;
  
}
footer li {
  margin-bottom: 10px;
  margin-left: 0px;

}

footer a {
  flex-direction: column;
  text-decoration: none;
  color:black;
  font-weight: 100;
  display: block;
}

footer a:hover {
  flex-direction: column;
  text-decoration: none;
  color:black;
  text-decoration: underline;
  font-weight: 100;
  display: block;
}

.footer__column {
  display: block;
  margin: auto;
  flex-direction: column;
}

.plus {
  margin-left: 25px;
  font-size: large;
  text-decoration: none;
  
}

/* tous types d'écran de 992px min version tablette*/

@media screen and (min-width: 768px) and (max-width: 992px) {

}

/* tous types d'écran de 768px max telephone*/
@media screen and (max-width: 767px) {
  body {
    margin: 0px;
    font-family: "Raleway", sans-serif;
  }
  .page{
    width: auto;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  
  nav {
    display: flex;
    flex-direction: row
    width: 100%;
  }

  nav img {
    display: flex;
    width: 150px;
    height: 120px;
    align-self: center;
  }

  #logo {
    align-items: center;
    padding: 0px;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0 11px 0;
    list-style: none;
  }

  li:hover {
    border-bottom: #0065fc 3px solid;
  }

  nav li {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  a .nav__links {
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 32px;
  }

  a .nav__links:hover {
    border-bottom: #0065fc 3px solid;
  }
  /*barre de recherche*/
  form{
    display: flex;
    margin-left: 8px;
    justify-content: center;
    height: 50px;
  }

  .form__boutton{
    display: none;
  }

  .mobile__boutton{
    width: 45px;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0065fc;
    color: #DEEBFF;
    border: none;
    border-radius: 15px;
    position: relative;
    right: 10px;
  }

  /*filtres*/
  
  #filter__list{
    display: flex;
    width: auto;
    justify-content: center;
    display: flex;
    flex-direction: wrap;
    
  }

  #filter__title{
  margin-right: 1px;
  width: auto;
  justify-content: left;
  }
  
  .filter__effect{
    display: flex;
    flex: wrap;
    
  }

  .infos{
    justify-content: center;
  }

 /*hebergement */
 #main__hebergements{
   
 }
 #main__hebergements__block{
  

 }
 /*comment faire passer le aside 
 avant hebergemement ?*/

 #main__hebergements__block h2{
   justify-content: center;


}

#main__hebergements__block__cards{
  
}