@import "normalize.css";

/*Version Desktop*/
* {
  
  box-sizing: border-box;
}
html {
  display: block;
}
body {
  font-family: "Raleway", sans-serif;
  display: block;
}
#page {
  max-width: 1600px;
  margin: auto;
}

/*Header*/
header {
  display: block;
}

.header__logo img {
  height: 55px;
}

header {
  justify-content: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;
}
.nav__links {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  border-top: 2px solid transparent;
}

.nav__links:hover {
  padding-top: 40px;
  border-top: 3px solid #0065fc;
}

/*fin du header*/

/*main*/

/*section main__recherche*/
.main__recherche {
  display: block;
  margin: 7px;
  padding: 30px;
}

h1 {
  font-size: 20px;
}
/*fin section*/
.form {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.form__locationdot {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

.form__boutton {
  background-color: #0065fc;
  color: #f2f2f2;
  font-weight: bold;
  border: none;
  height: 55px;
  padding: 16px 20px 16px 20px;
  border-radius: 0px 10px 10px 0px;
}
.form__texteDuBouton {
  color: #f2f2f2;
}

.form__barreDeRecherche {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 1rem 1.25rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
}

/*barre de recherche*/
.fa-location-dot {
  background-color: #f2f2f2;
}
/*Filtres de recherche*/

.fa-solid {
  align-items: center;
}
.category {
  
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

#filter__title {
  font-size: 20px;
  padding-top: 6px;
  padding-right: 0px;
  margin-right: 0px;
  width: 100px;
  font-weight: bold;

}

#filter__list {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-top: -8px;
  justify-content: flex-start;
}
/* logos*/

.fa-money-bill {
  background-color: #DEEBFF;
  border-radius: 50px 50px 50px 50px;
  color: #0065FC;
  font-size: 20px;
  padding: 16px;
  padding-left: 14px;
  padding-right: 15.5px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
  position: relative;
  
}



.fa-child-reaching {
  background-color: #DEEBFF;
  border-radius: 50px 50px 50px 50px;
  color: #0065FC;
  font-size: 20px;
  padding: 15px;
  padding-left: 17px;
  padding-right: 19px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
  position: relative;
 

}

.fa-heart {
  background-color: #DEEBFF;
  font-size: 20px;
  border-radius: 50px 50px 50px 50px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 16px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
  position: relative;
  
  color: #0065FC;
}



.fa-dog {
  background-color: #DEEBFF;
  color: #0065FC;
  font-size: 20px;
  border-radius: 50px 50px 50px 50px;
  padding: 15px;
  padding-left: 14px;
  padding-right: 15px;
  margin-right: 12px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: -50px;
  position: relative;
  
}

  
/* fin des icones*/
/*zone texte icones*/

.filter__effect {
  display: flex;
  flex-direction: row;
}


.filter__effect--money {
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #F2F2F2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  height: 56px;
  width: 200px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
  align-self: center;

}

.filter__effect--child{
  font-weight: bold;
  border-left: none;
  border: 3px solid #F2F2F2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  height: 56px;
  width: 165px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
  font-size: 20px;
  align-self: center;
}

.filter__effect--heart{
  font-weight: bold;
  border: 3px solid #F2F2F2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  height: 56px;
  width: 205px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
  font-size: 20px;
  align-self: center;
  
}

.filter__effect--dog{
  font-weight: bold;
  font-size: 20px;
  border: 3px solid #F2F2F2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  height: 56px;
  width: 265px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
  align-self: center;
}

/*fin zone filtres de recherche*/
/*infos*/

.infos {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  

}

.fa-info {

  background-color: white;
  color: #0065FC;
  font-size: 10px;
  border-radius: 50px 50px 50px 50px;
  padding: 15px;
  
}  

.infos__text{
  align-self:flex-end;

}






/*section Partie 1 hebergement Marseille */
#main__hebergements{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;

}

 h2 {
  margin-left: 25px;
  
}


#main__hebergements__block{
  background-color: #F2F2F2;
    border-radius: 20px;
    width: 70%;
    margin-right: 30px;
}



#main__hebergements__block__cards {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.main__hebergements__block__cards__card{
  display: flex;
  background-color: white;
  width: 30%;
  height: 20%;
  margin: 10px 0px;
  padding: 5px 5px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
  transition: 1s;
  flex-direction: column;
}


.main__hebergements__block__cards__card a{
  text-decoration: none;
}

.main__hebergements__block__cards__card img{
  height: 130px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;

}

.main__hebergements__block__cards__card__description{
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 14px;
  
}

.main__hebergements__block__cards__card__description h3{
  margin: 10%;
}

.main__hebergements__block__cards_card__description p {
  margin: 0 0 10px 0;
}

.stars{
  color: #0065fc;
  font-size: 14px;
}



 
  


h3 {
  text-decoration: none;
  font-weight: bold;
  font-size: large;

}

.titre7, .titre8{
  text-decoration: none;
}



.fa-duotone {
  color: #e0e0e0;
}

/*les plus populaires*/

#main__hebergement__aside{
display: flex;
flex-direction: column;
align-items: center;
width: 30%;
background-color: #F2F2F2;
border-radius: 20px;
}

#main__hebergement__aside a{
  text-decoration: none;
}
.main__hebergement__aside__title{
  display: flex;
  align-items: center;
  width: 87%;
  justify-content: space-between;

}

#title__star{
  
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  justify-content: right;

}

.main__hebergement__aside__card{
  display: flex;
  width: 90%;
  height: 170px;
  background-color: white;
  margin: 10px 0px;
  padding: 5px 5px;
  border-radius: 20px;
  transition: 1s;

}

.main__hebergement__aside__card a {
  display: flex;
}
.main__hebergement__aside__card img{
  width: 30%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.main__hebergement__aside__card__description{
  font-size: 14px;
  padding-left: 15px;
  margin: 3px;
}
.main__hebergement__aside__card__description h3 {
  margin: 1px 1px 1px 1px;
  padding: 1px;
}

/*Activité Marseille*/

#main__activite









/*footer*/

footer {
  display: flex;
  bottom: 0;
  flex-direction: row;
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  
}

footer .ul {
  display: block;

}
footer a {
  display: block;
  flex-direction: column;
  text-decoration:initial;
}

.footer__column {
  display: block;
  padding: auto;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
}

.plus{
  margin-left: 25px;
  font-weight: bold;
}

/* tous types d'écran de 992px min version tablette*/

@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* tous types d'écran de 768px max telephone*/
@media screen and (max-width: 767px) {
  body {
    margin: 0px;
    font-family: "Raleway", sans-serif;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    flex-direction: row
    
    width: 100%;
  }

  nav img {
    display: flex;
    width: 150px;
    height: 120px;
    align-self: center;
  }
  #logo {
    align-items: center;
    padding: 0px;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0 11px 0;
    list-style: none;
  }

  li:hover {
    border-bottom: #0065fc 3px solid;
  }

  nav li {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  a .nav__links {
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 32px;
  }

  a .nav__links:hover {
    border-bottom: #0065fc 3px solid;
  }
}
