@import "normalize.css";

/*Version Desktop*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: black;
}
html {
  display: block;
}
body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}
.page {
  max-width: 1440px;
  margin: auto;
}

/*Header*/
header {
  display: flex;
}
.header__logo img {
  height: 55px;
}

header {
  justify-content: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
.nav__links {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  border-top: 2px solid transparent;
}

.nav__links:hover {
  padding-top: 57px;
  border-top: 3px solid #0065fc;
}

/*fin du header*/
/*main*/
/*section*/
h1 {
  font-size: 20px;
}
/*fin section*/
.form {
  display: flex;
  width: 130px;
  height: 38px;
  flex-direction: row;
}

.locationDot {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

.boutton {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: none;
  height: 55px;
  padding: 16px 20px 16px 20px;
  border-radius: 0px 10px 10px 0px;
}

.barreDeRecherche {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 1rem 1.25rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
}

.rechercher {
  background-color: #0065fc;
  color: #deebff;
  border: 2px black solid;
  border-radius: 0px 8px 8px 0px;
  width: 130px;
  height: 38px;
}
/*barre de recherche*/
.fa-location-dot {
  background-color: #f2f2f2;
}
/*Filtres de recherche*/
.fa-solid {
  display: flex;
  align-items: center;
}
.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}
#filter_title {
  font-size: 20px;
  padding-top: 6px;
}

#filter_list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 25px;
  margin-top: -8px;
}

.filterEffect {
  display: flex;
  flex-direction: row;
}

#filter_cell_money {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #f2f2f2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  width: 205px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
}
#filter_cell_child {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  border-left: none;
  border: 3px solid #f2f2f2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  width: 165px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
}

#filter_cell_heart {
  font-weight: bold;
  font-size: 20px;
  border: 3px solid #f2f2f2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  width: 205px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
}
#filter_cell_dog {
  font-weight: bold;
  font-size: 20px;
  border: 3px solid #f2f2f2;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
  width: 265px;
  margin-right: 20px;
  padding-top: 12px;
  padding-left: 65px;
  position: relative;
}
/* tous types d'écran de 992px min version tablette*/

@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* tous types d'écran de 768px max telephone*/
@media screen and (max-width: 767px) {
  body {
    margin: 0px;
    font-family: "Raleway", sans-serif;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    flex-direction: column;
    place-self: unset;
    width: 100%;
  }

  nav img {
    display: flex;
    width: 150px;
    height: 120px;
    align-self: center;
  }
  #logo {
    align-items: center;
    padding: 0px;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0 11px 0;
    list-style: none;
  }

  li:hover {
    border-bottom: #0065fc 3px solid;
  }

  nav li {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  a .nav__links {
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 32px;
  }

  a .nav__links:hover {
    border-bottom: #0065fc 3px solid;
  }
}
